.contactForm {
  display: grid;
  &__element {
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 2rem;

    & button {
      justify-self: start;
      @media only screen and (max-width: 768px) {
        justify-self: auto;
      }
    }
  }
}

// fix images in client collection
// convert everything into styled components
// do footer
// start back
