/*

.menu {
  z-index: 10;
  position: fixed;

  display: grid;
  grid-template-columns: 1fr minmax(0rem, 117rem) 1fr;

  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    var(--cl-primary),
    var(--cl-bg)
  );
  animation: fadein 0.4s;

  &__button {
    cursor: pointer;
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 3rem;
    right: 0.2rem;
    &--svg {
      width: 3rem;
      height: 3rem;
      fill: var(--cl-tertiary);
      transform: rotate(90deg);
    }
  }

  &__block {
    grid-column: 2 / 3;
    display: grid;
    align-items: center;
    justify-items: center;
    animation: fadein 1s;

    &--ul {
      display: grid;
      grid-row-gap: 1rem;
      list-style: none;
    }
    &--li {
      text-align: center;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*/
