/*

.experience {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 1fr minmax(0rem, 117rem) 1fr;
  padding: 10rem 0rem;

  @media only screen and (max-width: 582px) {
    padding: 6rem 0rem;
  }

  &__wrapper {
    grid-column: 2 / 3;
    display: grid;
    grid-row-gap: 5rem;
    padding: 0rem 2rem;

    @media only screen and (max-width: 582px) {
      grid-row-gap: 3rem;
    }
  }

  &__top {
    display: grid;
    text-align: center;
    justify-items: center;
    grid-row-gap: 1rem;
    &--text {
      color: var(--cl-fontB);
    }
    &::after {
      content: "";
      display: inline-block;
      background-color: var(--cl-fontW);
      height: 0.2rem;
      width: 6rem;
    }
  }

  &__bot {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    &--card {
      display: grid;
      grid-row-gap: 1.2rem;
      padding: 3rem;
      text-align: center;

      @media only screen and (max-width: 582px) {
        padding: 1rem;
      }
    }

    &--svgwrap {
      display: grid;
      justify-items: center;
      padding: 1rem 0rem;
    }

    &--svg {
      width: 6.5rem;
      height: 6.5rem;
    }

    &--title {
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    &--text {
      font-size: 1.5rem;
      color: var(--cl-fontB);
    }
  }
}

*/
