.contacts {
  grid-column: full-start / full-emd;
  display: grid;
  grid-template-columns: 1fr minmax(0rem, 117rem) 1fr;
  padding: 8rem;

  @media only screen and (max-width: 768px) {
    padding: 6rem;
  }

  @media only screen and (max-width: 425px) {
    padding: 4rem;
  }

  &__wrap {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-row-gap: 4rem;
    grid-column-gap: 6rem;

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-row-gap: 4rem;
    }
  }

  &__top {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // justify-items: center;
    // grid-column-gap: 6rem;
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 4rem;

    &--title {
      display: grid;
      justify-items: center;
    }
  }

  &__bot {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-column-gap: 6rem;
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 4rem;

    &--title {
      display: grid;
      justify-items: center;
    }
  }
}
