.clients {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-items: left;
  grid-column-gap: 6rem;
  justify-content: center;

  &__imgwrap {
    height: 8rem;
    width: 8rem;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
